html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 10px;
  padding: 0;
  background-color: bisque;
}

.key {
  /* background-color: hsl(155, 100%, 64%); */
  /* transition: ease-in-out 0.05s; */
}

.key:hover {
  /* filter: hue-rotate(-200deg) !important; */
}

.container {
  /* general ? unused as is, since I'm renaming containers dynamically */
}

/* .allOddRows:not(:nth-child(6n+3)):not(:nth-child(6n+4)):not(:nth-child(6n+5)):not(:nth-child(6n)) {
  background-color: rgb(235, 198, 36);
}

.allEvenRows:not(:nth-child(6n+1)):not(:nth-child(6n+2)):not(:nth-child(6n+3)) {
  background-color: rgb(235, 198, 36);
} */

.upperLeftCorner {
  /* background-color: gold; */
}

.upperRightCorner {
  /* background-color: yellow; */
}

.lowerLeftCorner {
  /* background-color: lightsalmon; */
}

.lowerRightCorner {
  /* background-color: lightcoral; */
}

.allCorners {
  /* border: 2px firebrick solid; */
}

.firstRow {
  /* border-radius: 5px; */
}

.lastRow {
  /* border-radius: 0px; */
}

.firstCol {
  /* border-radius: 10px; */
}

.lastCol {
  /* border-radius: 20px; */
}

.allOddRows {
  /* transform: translateX(30px); */
}

.allEvenRows {
  /* opacity: 0.6; */
}

.allOddCols {
  /* opacity: 0.9; */
}

.allEvenCols {
  /* filter: hue-rotate(90deg); */
}